@import '../../node_modules/compass-mixins/lib/compass'
@import '../../node_modules/bourbon/core/bourbon'
@import '../../node_modules/mustart-media-queries/src/core'
@import '../../node_modules/mustart-gradients/src/core'

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap')
@import 'vendors/reset'

+mustart-gradients
+mustart-gradient(green, #9cbf11, my)

$padding: 30px
$image-size: 95px
$container-size: 700px
$bg-color: black
$text-color: white
$text-size: 16px
$text-normal: 400
$text-bold: 700
$radius: 12px

body
  background: $bg-color
  color: $text-color
  padding: $padding * 2 $padding
  font:
    family: Quicksand, sans-serif
    size: $text-size

img, a
  @extend .transition

a
  color: darken($text-color, 10%)
  text-decoration: line-through
  font-weight: $text-bold
  &:hover
    text-decoration: none

.transition
  +transition(all .3s ease-in-out)

.container
  max-width: $container-size
  margin: 0 auto 0 0

.title
  margin-bottom: $padding * 1.5
  position: relative
  span
    display: block
    margin-bottom: 5px
    &:nth-child(1)
      font-size: 180%
      font-weight: bold
    &:nth-child(2)
    &:nth-child(3)
      font-style: italic

.footer
  position: relative
  margin-top: $padding * 1.5
  font-size: 95%
  line-height: 140%
  color: $text-color

.playing
  position: fixed
  left: 0
  top: 0
  bottom: 0
  right: 0
  +box-shadow(inset 0 0 200px #000)
  img
    animation: imageria 20s infinite
    opacity: .4
    object-fit: cover
    width: 100%
    height: 100%
    +filter(blur(4px))

.music
  &s
    position: relative
  &__item
    @extend .transition
    +border-radius($radius)
    +box-shadow(0 0 20px #333)
    margin-bottom: $padding
    background-color: $text-color
    color: $bg-color
    position: relative
    &:last-child
      margin-bottom: 0
    &:hover
      +transform(scale(1.1))
      .music__image
        img
          opacity: 1
          +transform(scale(1))
      .music__details
        span
          &:after
            right: 100%
            left: 0

  &__image
    +border-radius($radius)
    +size($image-size)
    display: none
    overflow: hidden
    position: absolute
    top: $padding
    left: $padding - 2
    background: $bg-color
    img
      +border-radius($radius)
      height: 100%
      opacity: 0
      +transform(scale(2))
  &__details
    padding: $padding
    > div
      margin-bottom: 7px
      &:first-child
        margin-top: 2px
    span
      display: block
      position: relative
      &:after
        @extend .transition
        position: absolute
        left: -2px
        top: -2px
        bottom: -2px
        right: -2px
        background: $bg-color
        +border-radius($radius / 2)
        content: ''
  &__song
    font-weight: bold
    font-size: 150%
    padding-right: 20px
  &__artist
    font-size: 120%
  &__date
    font-size: 80%
    color: lighten($bg-color, 50%)

  &--now
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .4s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%239cbf11' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E")
    margin-left: 85px
    span
      display: block
      margin-left: -85px
  &--playing
    +box-shadow(0 0 10px 0 #333)
    &:before
      +size(20px)
      +border-radius(50%)
      @extend .mustart-gradient-my
      content: ''
      display: block
      position: absolute
      right: $padding
      top: $padding
    .music__details
      span
        &:after
          right: 100%
          left: 0
    .music__image
      img
        opacity: 1
        +transform(scale(1))

// Experimental Hover
.music
  &s
    margin:
      top: 140px
    &:hover
      .music__item
        background-color: darken(white, 40%)
        &:hover
          background-color: white
  &__item
    margin:
      top: -100px
    &:hover
      z-index: 100
  &--playing
    margin-bottom: 0
    padding-bottom: 100px
    background: $text-color !important
    &:hover
      z-index: 0
      +transform(scale(1))


+medium-up
  .music
    &__details
      margin-left: $image-size + $padding / 2
      span
        display: inline-block
    &__image
      display: block


+media(800)
  .container
    padding:
      left: $padding
      right: $padding


@keyframes imageria
  0%
    +transform(scale(1.2))
  50%
    +transform(scale(1))
  100%
    +transform(scale(1.2))
